.section-p1{
    padding: 40px 80px;
}
#sm-banner{
    display: flex;
    justify-content:space-between ;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center ;
    background-image: url("HEART\ PENDANT1\ \(3\).jpg");
    min-width: 600px;
    height: 40vh;
    background-size: cover;
    background-position: center;
    padding: 20px;

}
#sm-banner .banner-box2{
 background-image: url("goldband1.jpg");   
}
#sm-banner h4{
    color: pink;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner h2{
    color: rgb(255, 72, 103);
    font-size: 28px;
    font-weight: 800;
}
#sm-banner span{
    color: rgb(44, 39, 40);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
button.white{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    padding:11px 18px;
    color: aliceblue;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
#sm-banner .banner-box:hover button{
    background-color: aquamarine;

}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:right ;
    background-image: url("Dimond\ band1\ \(3\).jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;

}
#banner3 .banner-box2{
    background-image: url("golden\ dimond\ band\ \(2\).jpg");
}
#banner3 .banner-box3{
    background-image: url("golden\ dimond\ band\ \(1\).jpg");
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}
#banner3 h2{
    color: #ff0000;
    font-weight: 800;
    font-size: 15px;
}


